* {
  margin: 0%;
  padding: 0;
  transition: 0.5s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: url(./BG.png);
}

.container {
  border: 1 px solid red;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-image: url(./BG.png); */
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
}
.display {
  /* border: 2px solid purple; */
  min-height: 50%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(53, 47, 47, 0.95),
    rgba(43, 39, 95, 0.99)
  );
  box-shadow: 30px 50px 25px rgba(0, 0, 0, 0.9);
}

.segment {
  /* border: 2px solid rgb(104, 4, 4); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  max-width: 80vw;

  background: transparent;
}
.segment > img {
  /* border: 3px solid black; */
  /* padding: 10px; */
  display: block;
  height: auto;
  max-width: 60%;
  transition: 0.7s;
  aspect-ratio: 2/3;
}
.segment > img:hover {
  animation: myAnimation 2s linear infinite;
}
.segment > h1 {
  margin: 15px;
  text-align: center;
  color: white;
}

label {
  color: white;
  margin-top: 20px;
  font-size: 1.5rem;
}
#input {
  padding: 10px 50px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.288);
  box-shadow: 10px 10px 25px black;
  color: white;
  font: 600 1.2rem;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
}
#input:hover {
  transform: scale(1.1);
  /* background-color: rgba(43, 39, 95, 1); */
  transform: translateX(50%, 50%);
}

.dropdown {
  margin: 10px;
  min-width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
select {
  width: 100%;
  padding: 0.6em;
  appearance: none;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  background-image: url(./arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  background-size: 20px 20px;
  background-color: #9873fe18;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
}
select:hover {
  transform: scale(1.2);
}
select > option {
  background: transparent;
  color: #ffffff;
  background-color: black;
}
button {
  border: none;
  margin: 15px;
  padding: 10px;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #e74c3c, #3498db);
  transform: translateX(50%, 50%);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.245);
  /* color: white; */
}

#LU,
#result {
  color: white;
  margin: 20px;
}
span {
  font: bolder 1.3rem san-sarif;
  color: white;
  margin: 20px;
}
@keyframes myAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
